<html>
  <head>
    <title>GitHub!</title>
  </head>
  <body>

    <label><username</label>
    <div><a href="<%= data[:user][:url] %>"><%= data[:user][:name] %></a></div>

    <hr />

    <ul>
    <% data[:repositories].each do |r| %>
        <li><a href="<%= r.url %>"><%= r.name %></a> last pushed: <%= r.time %></li> 
    <% end %>
    </ul>

  </body>
</html>
