<html>
    <head>
      <title>Index!</title>
      <script type="text/javascript" src="/js/jquery.js"></script>
      <script type="text/javascript" src="/js/main.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          OmanThatsGood.init();
        });
      </script>
    </head>
    <body>
      <a href="/tumblr.json">Tumblr Info</a>
      <br />

      <hr />

      <div id="github" style="display: none;">
        <label>Username: </label>
        <span><a href=""></a></span>
        <br />
        <label>Repositories: </label>
        <ul>
          <li>
            <a href=""></a>
            <span></span>
          </li>
        </ul>
      </div>

      <hr />

      <div id="twitter" style="display: none;">
        <label>Username: </label>
        <span><a href=""></a></span>
        <br />
        <div id="twitter_mentions">
          <label>Mentions: </label>
          <ul>
            <li>
              <span></span>
              <a href=""></a>
            </li>
          </ul>
        </div>
        <div id="twitter_tweets">
          <label>Tweets: </label>
          <ul>
            <li>
              <span></span>
            </li>
          </ul>
        </div>
      </div>

      <hr />

      <div id="tumblr"></div>
    </body>
</html>
