<html>
  <head>
    <title>Tubmlr!</title>
  </head>
  <body>

    <div><a href="http://<%= data[:url] %>"><%= data[:url] %></a></div>

    <hr />

    <p>Posts</p>
    <ul>
      <% data[:posts].each do |post| %>
      <li>
        <%= post[:title] %>::<%= post[:date] %>
        <br />
        <% if post[:type] == :image %>
        <img src="<%= post[:body] %>" alt="<%= post[:title] %>"/>
        <% elsif post[:type] == :link %>
        <a href="<%= post[:body] %>"><%= post[:body] %></a>
        <% else %>
        <p><%= post[:body] %></p>
        <% end %>
      </li>
      <% end %>
    </ul>

  </body>
</html>
