<html>
  <head>
    <title>Twitter!</title>
  </head>
  <body>

    <div><a href="<%= data[:user][:url] %>"><%= data[:user][:name] %></a></div>

    <hr />

    <p>Mentions</p>
    <ul>
      <% data[:mentions].each do |m| %>
          <li><%= m.text %> :: <%= m.user.screen_name %></li>
      <% end %>
    </ul>

    <hr />

    <p>Mine<p>
    <ul>
      <% data[:timeline].each do |t| %>
      <li><%= t.text %></li>
      <% end %>
    </ul>

  </body>
</html>
